@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <span class="text-white p-4 block font-bold">Devops Dashboard</span>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
